<%- include('partials/header'); -%>

<header>
  <div class="recipes-img">
    <img src="https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mjd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
  <div class="headings">
    <h2>Food Recipes</h2>
    <h3>Make your food delecious</h3>
    <button><a href="/smoothies" class="btn">View Recipes</a></button>
  </div>
</header>


<%- include('partials/footer'); -%>