<footer>FOOTER</footer>
<h3>info about the project</h3>
<p>you are not able to see recipes page until you are login</p><br>
<p>once you are login token is send to your browser </p></br>
<p>this token helps us to not login again and again to view pages</p>
<p>even after you close the browser and come back again you can see the pages without login </p>
<p>and once you logout this jwt token will be deleted</p>

</body>
</html>