<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav class="nav-container">
    <div class="logo">
      <h1><a href="/">Food Recipes</a></h1>
    </div>
    <div class="link-container">
      <h4><a href="/logout">LOGOUT</a></h4>
      <h4><a href="/login">LOGIN</a></h4>
      <h4><a href="/signup">SIGNUP</a></h4>
    </div>
  </nav>